/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

/* default fontsize = 16px , rem is based on this  */
.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--primary);
}

/* Top Container */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}

/* Showcase */

.showcase {
    grid-area: showcase;
    min-height: 400px;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;

}

.showcase::after {
    content: "";
    background: url(img/showcase.jpg);
    background-size: cover;
    background-position: bottom;
    background-position-y: 87%;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
    
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
/* Top Box */
.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price {
    font-size: 2rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/* Boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr)) ;
}
.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/* Info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}

.portfolio img:hover {
    opacity: 0.9;
}

/* footer */
footer {
    margin-top: 2.5rem;
    text-align: center;
    color: var(--light);
    background: var(--dark);
    padding: 0.5rem;
}

/* Media queries */
@media(max-width:700px){
    .top-container{
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul{
        grid-template-columns: 1fr;
    }

    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        margin: auto;
        text-align: center;
    }
}

/* phone res */
@media(max-width:500px){
    .top-container{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}

/* learn css grid and rwp with traversy media: https://www.youtube.com/watch?v=moBhzSC455o */